__pycache__/**
outputs/**
data/** 
checkpoints/**
outputs_svg/** 
**/**/outputs/**
tmp/**
*.pyc
lightning_logs/**
**resized**
*.pth
*.pt
*.ply
*.npy
*.html
OmniSVG___mmsvg-illustration/**
*.lock

models/**
.gradio
.vscode