cairosvg==2.8.2
datasets==4.0.0
diffusers @ git+https://github.com/huggingface/diffusers.git@ba0e732eb059b9eb3afe4b643be471d93154d1cc
einops==0.8.1
gradio==6.11.0
huggingface-hub==0.34.4
lightning==2.5.3
numpy==1.26.4
open3d==0.19.0 
opencv-python==4.10.0.84
pillow_heif==1.1.0
potracer==0.0.4
scikit-image==0.24.0
scikit-learn==1.6.1
svgpathtools==1.7.1
tensorboard==2.20.0
timm==1.0.19
torch==2.8.0
torchvision==0.23.0
tqdm==4.67
transformers==4.53.1
vtracer==0.6.11